body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;

}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(16, 56, 167);
    margin: 0 auto
}

#cabecera {
    background: rgb(55, 55, 58);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 00.5rem);
    color: rgb(228, 181, 95);
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;

}

#cabecera tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1 {
    font-size: 20px;
}
